*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus {
  outline: 0;
}

body {
  background: #F7F7F7;
  background: #FFD100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #fff;
  margin-bottom: 1em;
}

.logo {
  width: 6rem;
  height: 100%;
}

.board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 9em 9em 9em 9em 9em 9em;
  grid-template-rows: 9em 9em 9em 9em;
  grid-template-columns: 11vw 11vw 11vw 11vw 11vw 11vw;
  grid-template-rows: 11vw 11vw 11vw 11vw;
  grid-gap: 1vw;
  cursor: pointer;
}

.card {
  position: relative;
  -webkit-transition: all .28s cubic-bezier(0.3, 1.06, 1, 1.26);
   -moz-transition: all .28s cubic-bezier(0.3, 1.06, 1, 1.26);
     -o-transition: all .28s cubic-bezier(0.3, 1.06, 1, 1.26);
        transition: all .28s cubic-bezier(0.3, 1.06, 1, 1.26);
  -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
  background: url("../images/poof_spritesheet.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 700%;
}

.back,
.front {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
        backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

.front:hover {
  -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
      -o-transition: all .1s linear;
        transition: all .1s linear;
  -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
      -o-transform: scale(1.02);
        transform: scale(1.02);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.front {
  z-index: 2;
  background: #fff url('../images/card_bg_alt_3.jpg') no-repeat center center / contain;
}

.back {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
  border: 0.6vw solid #fff;
}

ul {
  color: #222222;
  font-weight: 600;
  display: inline-block;
/*  list-style: none; */
  position: absolute;
  top: 6rem;
  text-align: center;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  font-weight: 600;
}

.button-new-game {
  position: relative;
  height: 2rem;
  width: 6rem;
  color: black;
  background-color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.6em;
  border: 1px solid black;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.4em;
  box-shadow: 0 0.6em 0 0 black;
  cursor: pointer;
}

/*
.button-new-game:active {
  top: 0.6em;
  box-shadow: none;
}
*/

.time {
  height: 2rem;
  width: 6rem;
  line-height: 2rem;
  font-family: 'Nunito Sans', sans-serif;
  color: #222222;
  letter-spacing: 0.1em;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em;
}

.selected {
  -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
}

.match .front {
  background: white !important;
  opacity: 0;
}





/*
---
ANIMATIONS
---
*/

.apply-push {
	-webkit-animation: push 0.24s both;
	        animation: push 0.24s both;
}

@keyframes push {
  50% {
    -webkit-transform: translateY(0.6em);
            transform: translateY(0.6em);
    box-shadow: none;
  }

  100% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
    box-shadow: 0 0.6em 0 0 black;
  }
}



.bounce-in-top {
	-webkit-animation: bounce-in-top 0.8s 0.4s both;
	        animation: bounce-in-top 0.8s 0.4s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}




.poof {
  -webkit-animation: poof-animation 0.6s steps(6) 1;
          animation: poof-animation 0.6s steps(6) 1;
}

@-webkit-keyframes poof-animation {
  from {background-position: left;}
  to {background-position: right;}
}

@keyframes poof-animation {
  from {background-position: left;}
  to {background-position: right;}
}

.apply-bounce {
  /*
	-webkit-animation: bounce-top 0.4s both;
      animation: bounce-top 0.4s both;
  */
  animation-name: bounce-top;
  animation-duration: 0.4s;
  animation-direction: both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

.roll-in-left {
	-webkit-animation: roll-in-left 0.6s ease-out both;
	        animation: roll-in-left 0.6s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-3-24 8:32:41
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}








/*
---
DESKTOP
---
*/

@media (max-width: 1800px) {

}

/*
---
TABLET LANDSCAPE
---
*/

@media (max-width: 1200px) {

}

/*
---
TABLET PORTRAIT
---
*/

@media (max-width: 900px) {
  .board {
    grid-template-columns: 18vw 18vw 18vw 18vw;
    grid-template-rows: 18vw 18vw 18vw 18vw 18vw 18vw;
    grid-gap: 4.4vw;
  }
}

/*
---
PHONES
---
*/

@media (max-width: 600px) {

}
