*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:focus {
  outline:0;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.logo {
  width: 10em;
  height: 100%;
}

.board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 9em 9em 9em 9em 9em 9em;
  grid-template-rows: 9em 9em 9em 9em;
  grid-template-columns: 11vw 11vw 11vw 11vw 11vw 11vw;
  grid-template-rows: 11vw 11vw 11vw 11vw;
  grid-gap: 1vw;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
}

.back,
.front {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  border: 0.5vw solid #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.front:hover {
  transition: all .1s linear;
  transform: scale(1.02);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.front {
  background: #fff url('../images/card_bg_3.jpg') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.button-new-game {
  color: #009fe3;
  background-color: transparent;
  height: 2.6rem;
  width: 8rem;
  text-transform: uppercase;
  font-size: 0.8em;
  border: 2px solid #009fe3;
}

.button-new-game:hover {
  background: #009fe3;
  color: #fff;
}

.button-new-board:focus {
  outline: 0;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: white !important;
  opacity: 0;
}



/*
---
DESKTOP
---
*/

@media (max-width: 1800px) {

}

/*
---
TABLET LANDSCAPE
---
*/

@media (max-width: 1200px) {

}

/*
---
TABLET PORTRAIT
---
*/

@media (max-width: 900px) {
  .board {
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 20vw 20vw 20vw 20vw 20vw 20vw;
    grid-gap: 3vw;
  }
  .back,
  .front {
    border: 1vw solid #fff;
}

/*
---
PHONES
---
*/

@media (max-width: 600px) {

}
